.contextMenu {
  display: none;
  position: absolute;
  z-index: 2;
  max-width: 115px;
}
.contextMenu .button {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0px 0px 2px 2px #888888;
  padding: 1px 10px 1px 10px;
  margin-right: 6px; 
  margin-top: 5px;
}
.contextMenu .button:hover {
  background-color: rgb(221, 123, 123); 
  color: white
}
.contextMenu .button input {
  display: none;
}